*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-width: 1200px;
    font-family: 'Open Sans', sans-serif;
}
.btn {
    display: inline-block;
    padding: 16px 32px;
    background-color: #1038bb;
    color: #fff;
    text-decoration: none;
    min-width: 1200px;
}
.clearfix:after{
    content: '';
    display:table;
    clear: both;
}
.container{
    width:90%;
    margin:0 auto;
}
/* header */

/* nav */
nav{
    height: 80px;
    width: 100%;
    line-height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navleft .logo, ul{
    float: left;

}
.navleft .logo img{
    vertical-align: middle;
    width: 85%;
}
.navleft .logo{
    width: 10%;
    margin-left: 30px;
}
.navleft ul{
    text-align: center;    
}
.navleft ul li, .navright ul li{
    display: inline-block;
}
.navleft ul li a, .navright ul li a{
    margin-left: 35px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.navright ul, #Inizia{
    float: right;
    padding-right: 10px;
}
#Inizia .btn{
    padding: 7px 18px;
    background-color: rgb(16, 45, 207);
    font-size: 14px;
    color: white;
    display: inline;
    
}
#Inizia .btn:hover{
    background-color: #8EA1E1;
}
.navright #Inizia a{
    /* position: relative;
    left: 700px; */
    min-width: 1200px;
}
/* /header */

/* main */
/* firstsection */
.back{
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    background-color: #8EA1E1;
}
.back div h1{
    font-size: 82px;
    padding-top: 50px;
    font-weight: bold;
}
.firstext{
    width: 30%;
    float: left;
    display: inline-block;
    padding: 0px 0px 0 0;
}
.firstext p{
    padding-top: 30px;
}
#prova a{
    padding: 7px 18px;
    background-color: rgb(16, 45, 207);
    font-size: 14px;
    color: white;
    display: inline;
    min-width: 1200px;
}
#prova{
    margin-top: 20px;
}
#prova p{
    font-size:13px;
    margin-top:-15px
    
}
#prova .btn:hover{
    background-color: #8EA1E1;
}
.firstimg{
    width: 70%;
    float: left;
    display: inline-block;
}
.firstext div i{
    color: black;
    font-size: 50px;
    margin-top: 40px;
}
.firstimg img{
    max-width: 100%;
    /* margin: 30px 30px */
    position: relative;
    top: 30px;
    left: 30pz;
}
/* /firstsection */
.container-center{
    width: 80%;
    margin: 100px auto;
}
/* cardsection */

.card h2{
    font-size:30px ;
    padding-top: 100px;
}
.circle-blue{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 5px ;
    border-style: solid;
    border-color:#1038bb;
}
.fatt-mensile, .circle-blue, .fatt-annuale, .circle-empty{
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;  
}
.circle-empty{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 1px ;
    border-style: solid;
    border-color:gray;
    margin-left: 20px;
}
.row{
    width: 100%;
    height: 1100px;
    padding-top: 40px;
    
}
.left{
    float: left;
    width: calc((100% / 3) - 40px);
    height: 100%;
    display: inline-block;
    border: 1px solid gray;
}
.center{
    float: left;
    width: calc((100% / 3) - 40px);
    margin: 0 60px;
    height: 100%;
    display: inline-block;
    border: 1px solid gray;
}
.right{
    float: right;
    width: calc((100% / 3) - 40px);
    height: 100%;
    display: inline-block;
    border: 1px solid gray;
}
.user {
    display: block;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}
.container-inside-card{
    padding-left: 25px;
}
.left h3{
    font-size: 23px;
    padding: 25px 0px;
}
.left h4{
    font-size: 15px;
    
}
.tariffa{
    color: gray;
    font-size: 11px;
    font-weight: bold;
}
.user-regular{
    display: block;
    font-size: 12px;
    padding-top: 40px;
}
.folder{
    display: block;
    font-size: 12px;
    padding-top: 20px;  
}
.pen{
    display: block;
    font-size: 12px;
    padding-top: 20px;  
}
#prova-gratis{
    padding: 6px 46px;
    background-color: rgb(16, 45, 207);
    font-size: 12px;
    color: white;
    display: inline;
}
#prova-gratis:hover{
    background-color: #8EA1E1;
}
.container-inside-card p{
 margin-top: 40px;
}
.acquista{
    font-size: 12px;
    display: block;
    margin-top: 20px;
}
.acquista a{
    color: #1038bb;
    margin-left: 4px;
}
.gray-line{
    margin-top: 18px;
    width: 40px;
    height: 40px;
    border-top: 1px solid gray;
}
.container-inside-card ul{
    margin-top: 25px;
    list-style-type: none;
    font-size: 12px;
    width: 90%;
    margin-left: 15px;
    
}
.fa-solid, .fa-check{
    color: #1037bb;
    margin-left: -10px;
}
.container-inside-card ul li{
    margin-top: 20px;
}